* {
    text-align: center;
}
.box-one {
    background-color: ;
    width: 1390px;
    height: 270px;
    border: 5px solid;
    padding: 20px;
    margin: 115px;
}
.box-two {
    background-color: ;
    width: 1390px;
    height: 550px;
    border: 5px solid ;
    padding: 20px;
    margin: 115px;
}
body {
    background-image: url(black-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
